.connect_hover {
  display: none;
}

.hover_class:hover .connect_hover {
  display: block;
}

body {
  overflow-x: hidden;
}

.responsive_class {
  padding: 0px 50px;
}

.set_width {
  margin-left: 20%;
}

.set_leftnav {
  left: 0;
}

.activ_nave .active .active_color {
  color: rgb(177, 96, 218)
}

.active_nav_bg .active .active_color {
  background-color: rgb(28, 49, 63);
}

@media(max-width:1000px) {
  .set_width {
    margin-left: 0;
  }

  .responsive_class {
    padding: 0 20px;
  }
}